        #main {
            background-color: yellow;
            position: absolute;
            width: 400px;
            height: 400px;
        }

        #longsnake div {
            position: absolute;
            width: 20px;
            height: 20px;
            z-index: 1;
            left: 20px;
            top: 20px;
            background-color: red;
        }

        .go {
            position: absolute;

        }

        #problem {
            position: absolute;
            border: 2px red solid;
            left: 600px;
        }


        #food {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 20px;
            height: 20px;
            background-color: black;
            z-index: 0;

        }

        #buttons {
            position: absolute;
            top: 425px;
        }